
</div>
<div class="footer-padding"></div>
  <div class="footer">

    <h6 style="margin-bottom: 0px; color: white;">Created by G2C2 team - <i class="far fa-copyright"></i> All rights reserved</h6>
  </div>
</div>
</body>
</html>
