<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>G2C2</title>
  <link rel="shortcut icon" href="./../public/g2c2.png" type="image/x-icon">
  <link rel="icon" href="./../public/g2c2.png">
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&family=Open+Sans:wght@500&family=Source+Sans+Pro:wght@300&family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar navbar-expand-lg navbar-light" style="position: fixed;width:99vw;z-index:999; background-color:#EBFFEA;">
    <!-- background-color:#ADFF2F; -->
    <div class="container-fluid" style="padding-top: 0px; padding-bottom: 0px;">
      <img src="g2c2.png" alt="g2c2logo" style="height:80px;width:80px; margin-left:25px;">


        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <form class="" action="/home" method="post">
            <button type="submit" class="btn btn-success"><i class="far fa-arrow-alt-circle-left"></i> Go Back</button>
          </form>
        </ul>


    </div>
  </nav>


  <body>
    <div class="container">
