<section id="footer">

  <div class="container>


    <div class="footer">



      <h6 style="margin-bottom: 0px; color: white;font-size:13px;font-weight:0px;">Created by G2C2 team - <i class="far fa-copyright"></i> All rights reserved</h6>
    </div>
  </div>

</section>
<script src="./index.js"></script>
</body>

</html>
